{{- if not (lookPath "apt") -}}
  {{- $defs := include "dot_config/chezmoi/packages_definitions.yaml" | fromYaml -}}
  {{- $brewPkgs := list -}}
  {{- range $package, $enabled := .features -}}
    {{- if $enabled -}}
      {{- $cfg := index $defs $package -}}
      {{- if and $cfg (hasKey $cfg "brew") -}}
        {{- range $cfg.brew -}}
          {{- $brewPkgs = append $brewPkgs . -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- range uniq $brewPkgs -}}
  {{ . }}
  {{ end }}
{{ end -}}
