{{- $defs := include "dot_config/chezmoi/packages_definitions.yaml" | fromYaml -}}
{{- $scripts := list -}}
{{- range $feature, $enabled := .packages -}}
  {{- if $enabled -}}
    {{- $cfg := index $defs $feature -}}
    {{- if and $cfg (hasKey $cfg "script") -}}
      {{- range $cfg.script -}}
        {{- $scripts = append $scripts . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- range uniq $scripts -}}
{{ . }}
{{ end }}
