{{- $defs := include "dot_config/chezmoi/packages_definitions.yaml" | fromYaml -}}
{{- $aptPkgs := list -}}
{{- range $feature, $enabled := .packages -}}
  {{- if $enabled -}}
    {{- $cfg := index $defs $feature -}}
    {{- if and $cfg (hasKey $cfg "apt") -}}
      {{- range $cfg.apt -}}
        {{- $aptPkgs = append $aptPkgs . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- range uniq $aptPkgs -}}
{{ . }}
{{ end }}
