[Desktop Entry]
Name=Restart WiFi
Exec=pkexec /home/hunter/.local/scripts/pop-os-utils/s_pop-restart-wifi.sh
Icon=network-wireless
Type=Application
Terminal=true
  
