#!/bin/sh

HOOK_DIR="{{- joinPath .chezmoi.sourceDir ".hooks" "diff" "pre" -}}"

$HOOK_DIR/vscode_extensions_export.sh
{{ if eq .chezmoi.os "darwin" -}}
$HOOK_DIR/macos_export_preferences.sh
{{ end -}}
