
configuration {
    kb-row-up: "Up,Control+k";
    kb-row-down: "Down,Control+j";
  	kb-accept-entry: "Control+m,Return,KP_Enter";
  	kb-remove-to-eol: "";

    font: "Noto Sans 16";
    line-margin: 10;

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     true;
}

window {
	width: 40%;
}

element-icon {
    size: 2em;
}

//THEME
@theme "~/.config/rofi/nord.rasi"

listview {
	lines: 7;
	columns: 1;
}
