{ pkgs }:

[
{{- $defs := include "dot_config/chezmoi/packages_definitions.yaml" | fromYaml -}}
{{- $nixPkgs := list -}}
{{- range $package, $enabled := .features -}}
  {{- if $enabled -}}
    {{- $cfg := index $defs $package -}}
    {{- if and $cfg (hasKey $cfg "nix") -}}
      {{- range $cfg.nix -}}
        {{- $nixPkgs = append $nixPkgs . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end }}
{{- range uniq $nixPkgs }}
  pkgs.{{ . }}
{{- end }}
]
