[Unit]
Description=NAS Mman Wiki Share (TrueNAS)
OnFailure=automount-restarter@%N.service

[Mount]
What=//192.168.0.4/Wiki_MmanWiki
Where=/mnt/Remote/NAS/Wiki/MmanWiki
Type=cifs
Options=rw,credentials=/home/michalg/.smb-credentials/truenas-wiki_work,uid=1000,gid=1000,iocharset=utf8,file_mode=0770,dir_mode=0770
TimeoutSec=30
